	/*
  	Flaticon icon font: Flaticon
  	Creation date: 11/06/2018 11:27
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-001-traffic-cone:before { content: "\f100"; }
.flaticon-002-tire-1:before { content: "\f101"; }
.flaticon-003-tire:before { content: "\f102"; }
.flaticon-004-pressure:before { content: "\f103"; }
.flaticon-005-timing-belt:before { content: "\f104"; }
.flaticon-006-steering-wheel:before { content: "\f105"; }
.flaticon-007-spark-plug:before { content: "\f106"; }
.flaticon-008-car-2:before { content: "\f107"; }
.flaticon-009-seat-belt:before { content: "\f108"; }
.flaticon-010-car-1:before { content: "\f109"; }
.flaticon-011-oil-1:before { content: "\f10a"; }
.flaticon-012-wrench:before { content: "\f10b"; }
.flaticon-013-garage:before { content: "\f10c"; }
.flaticon-014-flat-tire:before { content: "\f10d"; }
.flaticon-015-car-battery:before { content: "\f10e"; }
.flaticon-016-car-wash:before { content: "\f10f"; }
.flaticon-017-car:before { content: "\f110"; }
.flaticon-018-seat:before { content: "\f111"; }
.flaticon-019-brake:before { content: "\f112"; }
.flaticon-020-breakdown-2:before { content: "\f113"; }
.flaticon-021-breakdown-1:before { content: "\f114"; }
.flaticon-022-mechanic:before { content: "\f115"; }
.flaticon-023-car-key:before { content: "\f116"; }
.flaticon-024-air-filter:before { content: "\f117"; }
.flaticon-025-breakdown:before { content: "\f118"; }
.flaticon-026-oil:before { content: "\f119"; }
.flaticon-027-gearbox:before { content: "\f11a"; }